<ul class="list-unstyled">
    @foreach(var product in products){
        <li class="list">
            <div class="media-img-wrapper">
                <a href="/product/@product.Id">
                    <img class="media-img" src="@product.Image" alt="@product.Title">
                </a>
            </div>
            <div class="productinfo">
                <a href="/product/@product.Id">
                    <h4>@product.Title</h4>
                </a>
                <p>@product.Description</p>
                @if(@product.OriginalPrice > @product.Price){
                    <h6 class="original-price">@product.OriginalPrice</h6>
                }
                <h5 class="price">@product.Price</h5>
            
            </div>
        </li>
    }

</ul>

@code{
    List<Product> products = new List<Product>{
        new Product{
            Id = 1,
            CategoryId = 1,
            Title = "Guardian of the Galaxy",
            Description = "Some text that doesnt even make sense as a description",
            Image = "https://ichef.bbci.co.uk/images/ic/1200x675/p061d1pl.jpg",
            Price = 9.59m,
            OriginalPrice = 19.99m,      
        },
        new Product{
            Id = 7,
            CategoryId = 2,
            Title = "The Maze Runner",
            Description = "Some text that description",
            Image = "https://m.media-amazon.com/images/S/pv-target-images/4fe91d9317156e6ce416f6f4946c56aa8f1c3b4229007486f3423b798fb0e872.jpg",
            Price = 20.59m,
            OriginalPrice = 50.99m,      
        },
        new Product{
            Id = 6,
            CategoryId = 3,
            Title = "Lord of the Rings",
            Description = "Some text that description just some random description",
            Image = "https://cdn.akamai.steamstatic.com/steam/apps/212500/header.jpg?t=1656446044",
            Price = 23.59m,
            OriginalPrice = 40.99m,      
        }
    };
}